.navbar {
    background: #ffffff;
}

.navbar h2{
    font-family: 'Oswald', sans-serif;
    color: #1B6B65;
    letter-spacing: 1.5px;
}

#logoImg {
    width: 250px;
}

.tableCard {
    background: #1B6B65;
}

#formCard {
    background: #1B6B65;
}
.jumbotron  {
    background-image: url(../images/trainstation.jpg);
    background-size: cover;
    
}

